# Flutter/Dart
.dart_tool/
.packages
.melos_tool/
build/
coverage/

# Android
android/.gradle/
android/local.properties
android/app/build/

# iOS
ios/Pods/
ios/Flutter/ephemeral/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
